@font-face{font-family:"Hebrew-Light";src:url(Assistant-Light.ttf)}
@font-face{font-family:"Hebrew-Regular";src:url(Assistant-Regular.ttf)}
@font-face{font-family:"Hebrew-Bold";src:url(Assistant-ExtraBold.ttf)}
*{margin:0;padding:0;outline:none;}
img{border:none;}
body{direction:rtl;font-family:"Hebrew-Regular";background:url(bg.jpg) no-repeat;background-size:cover}
.hangman-sprite0{background-position:0 0;width:300px;height:400px}
.hangman-sprite1{background-position:0 -450px;width:300px;height:400px}
.hangman-sprite2{background-position:0 -900px;width:300px;height:400px}
.hangman-sprite3{background-position:0 -1350px;width:300px;height:400px}
.hangman-sprite4{background-position:0 -1800px;width:300px;height:400px}
.hangman-sprite5{background-position:-350px 0;width:300px;height:400px}
.hangman-sprite6{background-position:-350px -450px;width:300px;height:400px}
.hangman-sprite7{background-position:-350px -900px;width:300px;height:400px}
.hangman-sprite{background-image:url(hangman.png);width:300px;height:400px;opacity:.7;border-radius:20px}
.header{margin:20px auto 40px}
.sub-title{font-size:.6em;font-weight:100;letter-spacing:1px}
.letter{border-bottom:2px solid #000;font-size: 5vw;height: 6vw;width: 3vw;text-align:center;display:inline-block;margin-right:.8vw;vertical-align:top;}
.letter.space{border:none}
.red{color:#c0392b}
.green{color:#2ecc71}
.muted{color:grey!important;cursor:default!important}
button.play-again{display:none;margin-top:20px}
.unguessed-letters{text-align:center;margin:2vw}
.unguessed-letters p{text-align:center}
.letter-choice{margin:1vw;font-size: 5em;display:inline-block;cursor:pointer;}
.letter-choice:hover{color:#fff}
.incorrect-guesses h4{float:left}
.light-weight{font-weight:100}
.dropdown-menu > li{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.428571429;color:#333;white-space:nowrap}
.dropdown-menu > li:hover,.dropdown-menu > li:focus{color:#fff;text-decoration:none;background-color:#428bca}
ul hr{margin:5px auto}
.title h1{font-size:5vw;color:#fff;font-family:"Hebrew-Bold";font-weight:400;text-align:center;margin:2vw}
.hangman-game{background:rgba(255,255,255,0.59);text-align:center;margin: 2vw 0;display: inline-block;width: 100%;}
.timer{color:#a01a1a;font-weight:700;font-size:6vw;font-family:"Hebrew-Bold";margin:2vw 0;display:inline-block;direction: ltr;}
.scores{background:rgba(255,255,255,0.68);margin:3vw 7vw 0;padding:2vw;text-align: center;}
.scores .row{display:block;background:#fff;border:.3vw solid #666;margin-bottom: 0.6vw;text-align:left;padding:.5vw;}
.scores .row.s{background: #ffffbd;}
.scores .row .highscore-name{font-size: 2.5vw;border: none;border-bottom: 0.3vw dotted #333;background: none;outline: none;}
.scores .row .number{display:inline-block;font-size:3vw;margin-left:1vw;direction: ltr;}
.scores .row .name{float:right;font-size:3vw;margin-right:1vw}
.finish{font-size: 2vw;padding: 1vw 2vw;border: none;background: #fff;}
.back_button, .start_button{height: 6vw;width: 10vw;box-shadow:inset 0px 0px 0px 0px #fff6af;background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);background-color:#ffec64;border-radius:6px;border:0.2vw solid #ffaa22;font-size:2vw;margin: 2vw 3vw;position: absolute;left: 0;top: 0;}
.start_button{position:relative;}
