<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns= "http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:gap= "http://phonegap.com/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id= "com.biomimicry.game"
    versionCode= "10"
    version= "1.0.0">

    <gap:config-file platform="android" parent="/manifest">
         <application android:debuggable="true" />
    </gap:config-file>

    <name>Biomimicry</name>

    <description>
        3 mini-games about biomimicry
    </description>

    <author email="jlipowicz@hotmail.co.uk" href="http://www.jasonlipowicz.com">
        Jason Lipowicz
    </author>
    <author email="boaz.francis@gmail.com" href="https://www.linkedin.com/in/boaz-francis-69460b135">
        Boaz Francis
    </author>

    <platform name="android">
        <preference name="orientation" value="landscape" />
        <preference name="android-build-tool" value="ant|gradle" />
        <preference name="android-minSdkVersion" value="10" />
        <preference name="android-maxSdkVersion" value="15" />
        <preference name="android-targetSdkVersion" value="12" />
        <preference name="android-installLocation" value="auto" />
        <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
        <preference name="StatusBarOverlaysWebView" value="true" />
        <preference name="Fullscreen" value="true" />
        <preference name="keepScreenOn" value="true" />
        <icon density="mdpi" src="www/img/mdpi-icon.png" />
        <icon density="hdpi" src="www/img/hdpi-icon.png" />
        <icon density="xhdpi" src="www/img/xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/img/xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/img/xxxhdpi-icon.png" />
    </platform>
    
    <plugin name="cordova-plugin-device" spec="~1.1.4" />
    <plugin name="cordova-plugin-file" spec="~4.3.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.6.1" />

</widget>
