@font-face{font-family:"Hebrew-Light";src:url(Assistant-Light.ttf)}
@font-face{font-family:"Hebrew-Regular";src:url(Assistant-Regular.ttf)}
@font-face{font-family:"Hebrew-Bold";src:url(Assistant-ExtraBold.ttf)}
body{direction:rtl;font-family: "Hebrew-Regular";}
.wrapper{text-align:center;}
.question{font-family: "Hebrew-Bold";font-size: 4vw;color: #fff;margin: 2vw 0 1vw;}

html, body {
	height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
}
.wrapper {
    padding: 2%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}
.flipContainer {
    height: 9.3vw;
    width: 14vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    display: inline-block;
    position: relative;
}
.flipContainer.flip .tile{
	transform: rotateY(180deg);
	float: left;
}
.flipContainer img {
    width: 100%;
}
.face, .back, .tile {
	width: 100%;
	height: 100%;
	position: absolute;
	box-sizing: border-box;
}

/* flip speed goes here */
.tile {
	transition: 0.6s;
	transform-style: preserve-3d;
	float: left;
	box-shadow: 0 0 0.2vw 0.2vw rgba(0, 0, 0, 0.45);
}

/* hide back of pane during swap */
.face, .back {
	backface-visibility: hidden;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.face {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
h1 {
    font-family: "Hebrew-Bold";
    font-size: 4vw;
    color: #fff;
    margin: 2vw 0 2.5vw;
}
.modalWrapper {
    height: 60%;
}
.modal, .infoOverlay {
    width: 70%;
    height: 100%;
    background-color: cornflowerblue;
    position: relative;
    margin: 0 auto;
    border: 2px solid whitesmoke;
	box-shadow: 0 0 0.2vw 0.2vw rgba(0, 0, 0, 0.45);
}
.tries {
    font-size: 3vw;
}
Button {
    height: 6vw;
    width: 10vw;
	box-shadow:inset 0px 0px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:0.2vw solid #ffaa22;
	font-size:2vw;
    margin: 3vw auto;    
    display:block;
}
.infoWrapper {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    padding-top: 4vw;
}
.infoOverlay {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    background-color: cornflowerblue;
}
#infoText {
    font-size: 2.5vw;
    padding: 2vw 4vw;
}
.textWrap {
    width: 90%;
    margin: 0 auto;
}