html, body {
	height: 100%;
}
.flipContainer {
    height: 100%;
    width: 80%;
    perspective: 1000px;
}
.flipContainer.flip .tile, .flipContainer.hover .tile {
	transform: rotateY(180deg);
}

.flipContainer, .face, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.tile {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.face, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.face {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}